* {
  box-sizing: border-box;   
  font-family: DM Sans;
}
body{
  margin: 0px auto; 

}

a:hover{
  color: #19191B;
  transition: 300ms;
}
.logo{
  display: flex;  
  background: rgba(255, 113, 67, 0.27);
  align-items: center;  
  justify-content: space-evenly;
  height: 145px;  
    
}

ul.nav{
  display: flex; 
  list-style: none;  
  padding: 0px;
  margin-right: 65px;
  margin-left: 15px;
}
ul.nav a{
  padding-left: 50px;
}


.logo_click{
  margin-left: 238px;
}

nav li a{
  text-decoration: none;
  color:#696871;
  font-weight: bold;  
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;

}

/* ul a {
  color: #19191B ;  
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  
} */
.btn{
  
  height: 60px;
  width: 212px;
  border-radius: 10px;
  border: none;    
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  cursor: pointer;  
  letter-spacing: -0.531474px;
  transition: 500ms;
  
  
}
.buttom_orange{
  color: white;
  background-color: #FF7143;
  margin-right: 220px; 
}
.buttom_orange:hover{
  color: #fd612d;    
  border: 1px solid #fd612d;  
  cursor: pointer;
  background-color: white;
}
.title_grow{ 
  display: flex;
  justify-content: center;
  align-items: center;

}
.grow{  
  color: #19191B;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  height: 231px;
  width: 468px;
  margin: 134px 0px 30px 0px;  
  
}
.outcome{  
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #696871;
  width: 464px;
  height: 90px;
}


.buttom_violet{
  background: #5454D4;  
  color: white;
  
}
.buttom_violet:hover{
  color: #5454D4;  
  border: 1px solid #5454D4;  
  cursor: pointer;
  background-color: white;
  
}
.buttom_clean {
  color: #5454D4;  
  border: 1px solid #5454D4;  
  cursor: pointer;
  margin-left: 35px; 
}
.buttom_clean:hover{
  background: #5454D4; 
  color: white;
}
.man_right{
  margin-left: 200px;
  margin-top: 104px;
}
.footer{
  display: flex;  
  background: rgba(255, 113, 67, 0.27);
  align-items: center;  
  justify-content:space-evenly ;
  height: 145px;  
}

.footer_img{
  margin-right: 160px;
}

.ul_footer{
  display: flex;
  justify-content: end;
  text-decoration: none;
  list-style: none;   
  
}

.ul_footer li a{  
  padding-right: 50px;
}

.main_mid{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.mid_part{
  display: flex;
  align-items: center;  
    
}
.part {
  margin-left: 50px;
  padding-right: 7px;
}
.man2 {
  margin-top: 117px;
}

.email{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 556px;
  height: 57px;
  margin-right:70px ;
}
.email p{
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  color: #19191B;
  margin: 30px auto;
}
.size_b{
  width: 302px;
  height: 60px;
  margin-left: 0px;
}
input:focus{
  outline: none !important; 
}
input::placeholder{
  color: #000000;
  padding-left: 14px;

}